---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bgp-config
  namespace: kube-system
data:
  config.yaml: |
    peers:
      - peer-address: {{ router_ip }}
        peer-asn: {{ cilium_asn }}
        my-asn: {{ router_asn }}
    address-pools:
      - name: default
        protocol: bgp
        addresses:
          - {{ cilium_bgp_ip_pool }}
